*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #D9E4DD;
}

h1{
    text-align: center;
    margin: 30px 0px;
    color: #555555;
    text-decoration: underline #CDC9C3;
    font-size: 32px;
    font-weight: 700;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.card{
    text-align: justify;
    width: 80vw;
    height: 200px;
    margin: 20px;
    background-color: #555555;
    background-size: cover;
    color: #CDC9C3;
    border-radius: 5px;
}

.card h2{
    text-align: center;
    margin: 5px 0px 20px 0px;
    color: #D9E4DD;
    border-bottom: solid 1px #D9E4DD;
    font-size: 25px;
}

.card article{
    line-height: 25px;
    margin: 0px 20px;
    font-size: 20px;
    font-weight: 500;
}

.card ul{
    margin-left: 20px;
    list-style: square;
}

.card ul li{
    padding: 3px 0px;
}

